body {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-tertiary-bg-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.ag-root-wrapper {
  box-shadow: var(--bs-box-shadow-sm) !important;
}

.ag-header-cell-label-justify-content-center .ag-header-cell-label {
  justify-content: center;
}

.dollar:before {
  content: "$";
}

.dollar {
  display: flex;
  justify-content: space-between;
}
